<nav class="horizontal-navbar">
  <div>
    <img src="../assets/Logo.png" alt="Logo" class="navbar-logo" />
    <h3 class="hero-title">PlanNGo-Hub</h3>
  </div>
  <ul>
    <li>
      <a href="/cab/load"><fa-icon [icon]="faCar"></fa-icon> Cab</a>
    </li>
    <li>
      <a href="/hotel"><fa-icon [icon]="faHotel"></fa-icon> Hotel</a>
    </li>
    <li>
      <a href="/flight/search"><fa-icon [icon]="faPlane"></fa-icon> Flight</a>
    </li>
    <li>
      <a href="/tour"><fa-icon [icon]="faSuitcase"></fa-icon> Tour</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<p-toast></p-toast>
