# dependencies
/node_modules/

# Angular build output
/dist/
/out-tsc/
/.angular/

# IDE and editor files
/.idea/
/.vscode/

# System files
.DS_Store
Thumbs.db

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment files
/src/environments/*.ts
